jupyter-book
teachbooks
sphinx-tudelft-theme
sphinx-inline-tabs
jupyterlite-sphinx
jupyterbook_patches
download_link_replacer

git+https://github.com/TeachBooks/TeachBooks-Favourites
--extra-index-url https://gitlab.tudelft.nl/api/v4/projects/11239/packages/pypi/simple
